body {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0px;
    margin: 0;
    user-select: none;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;

}

a:hover {
    opacity: 0.5;
}

.light {
    --background-image: url(../img/bg/morning.webp);
    --background-color: rgb(23, 47, 57);
    --text-color: #000;
    --section-background-color: rgba(255, 255, 255, 0.1);
    --section-background-color-hover: rgba(255, 255, 255, 0.2);
}

.dark {
    --background-image: url(../img/bg/night.webp);
    --background-color: rgb(12, 19, 33);
    --text-color: #fff;
    --section-background-color: rgba(0, 0, 0, 0.1);
    --section-background-color-hover: rgba(0, 0, 0, 0.2);
}

.iziToast-wrapper-topCenter {
    display: none;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    /* 半透明背景 */
}

.iziToast-wrapper {
    z-index: 99999;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.pop-in {
    animation: popIn 0.5s ease-out forwards;
    /* 动画持续0.5秒，缓动效果，结束后保持最终状态 */
    transform-origin: top center;
    /* 设置缩放中心 */
}

@keyframes popIn {
    0% {
        transform: scaleY(0);
        /* 初始时垂直方向缩放为0 */
        opacity: 0;
    }

    80% {
        transform: scaleY(1.1);
        /* 放大一点点 */
    }

    100% {
        transform: scaleY(1);
        /* 最终缩放为1 */
        opacity: 1;
    }
}

main {
    margin: 80px;
    display: grid;
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 200px auto auto;
    gap: 20px;
    padding: 20px;
}

section {
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    transition: transform 0.3s;
    background-color: var(--section-background-color);
}

section {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* 半透明背景 */
    backdrop-filter: blur(2px);
    /* 背景模糊 */
    -webkit-backdrop-filter: blur(2px);
    /* 兼容老版本 Safari */
}

section:hover {
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* 半透明背景 */
    background-color: var(--section-background-color-hover);
    transform: scale(1.01);
}

section:active {
    transform: scale(0.95);
}

@font-face {
    font-family: 'UnidreamLED';
    src: url(../font/UnidreamLED.ttf);
}

.time {
    text-align: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#current-time {
    font-size: 40px;
    font-family: 'UnidreamLED';
}

/* 每日一言 */
.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hello {
    white-space: wrap;
    font-size: 40px;
}

.hitokoto-from {
    float: right;
}

/* 个人资料 */
.profile {
    grid-row: 1 / 3;
    text-align: center;
}

.profile p:nth-child(3) {
    font-size: 26px;
    font-weight: bold;
}

.profile-pic {
    width: auto;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    transition: 0.3s;
}

.profile-pic:hover {
    transform: rotate(360deg);
}

.project-list {
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.projects {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.project-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.link {}

i {
    letter-spacing: 4px;
    font-size: 24px;
}

.contact {
    /* position: absolute; */
    bottom: 10px;
    right: 10px;
    /* float: right;
    display: flex; */
}

.message {
    font-size: 20px;
    line-height: 24px;
}

footer {
    text-align: center;
    padding: 20px;
}